<main class="flex flex-col w-full md:w-6/12 mx-auto items-center sm:items-start mt-10">
    <div class="flex justify-center space-x-4 content-center items-center w-[250px] h-auto mx-auto">
        <a href="https://www.instagram.com/motoilanlari" target="_blank" title="Instagram">
            <img ngSrc="/instagram.svg"
                 alt="instagram @motoilanlari" class="w-[90px] h-[90px] md:w-[125px] md:h-[125px]" width="125"
                 height="125"/>
        </a>
        <a href="https://wa.me/+905373209432" target="_blank" title="WhatsApp">
            <img ngSrc="/whatsapp.svg" alt="Motoilanlari WhatsApp iletişim hattı +905373209432" class="w-[85px] h-[85px] md:w-[120px] md:h-[120px]" width="125"
                 height="125" />
        </a>
    </div>
</main>
