<footer class="flex relative w-full sm:w-6/12 flex-col flex-wrap items-center mx-auto justify-center my-12">
    <ul class="flex flex-col sm:flex-row sm:space-x-4 space-y-2 sm:space-y-0 text-center">
        <li>
            <a href="/kullanim-kosullari" class="hover:underline hover:underline-offset-1 transition-all">Kullanım
            Koşulları</a>
        </li>
        <li>
            <a href="/gizlilik-politikasi" class="hover:underline hover:underline-offset-1 transition-all">Gizlilik
            Politikası</a>
        </li>
        <li>
            <a href="/iletisim" class="hover:underline hover:underline-offset-1 transition-all">İletişim</a>
        </li>
    </ul>
    <div class="flex items-center flex-col mt-6">
        <p>Motoilanlari © 2025 Tüm Hakları Saklıdır.</p>
        <p class="my-1">
            <small>Powered by:</small>
            <a class="text-xs sm:ml-1 hover:underline hover:underline-offset-1 transition-all" href="https://mahmutyukselmert.github.io/" target="_blank">
                Mahmut Yüksel MERT
            </a>
        </p>
    </div>
</footer>
